

.next{
    width:70px;
    height:10px;
    
}


.h11{
    font-size:30px;
    color:black;

}

.h22{
color:black;
}


.p22{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:17px;
}

.p23{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    margin-top:30px;
}




.pforlogo{
    font-size:larger;
    color:black;
}